@model WebQLNS.Models.Penalty

<h2>Add Penalty</h2>
<p>Current employee ID: @ViewBag.MaNhanVien</p>

<form asp-action="AddPenalty">
    <input type="hidden" asp-for="MaNhanVien" value="@ViewBag.MaNhanVien" />

    <div class="form-group">
        <label>Description:</label>
        <input class="form-control" asp-for="Description" />
    </div>

    <div class="form-group">
        <label>Date:</label>
        <input class="form-control" asp-for="Date" />
    </div>

    <div class="form-group">
        <label>Amount:</label>
        <input class="form-control" asp-for="Amount" />
    </div>

    <button type="submit" class="btn btn-primary">Add Penalty</button>
</form>