@model WebQLNS.Models.ChuyenVien

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ChuyenVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaChuyenVien" class="control-label"></label>
                <input asp-for="MaChuyenVien" class="form-control" />
                <span asp-validation-for="MaChuyenVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenChuyenVien" class="control-label"></label>
                <input asp-for="TenChuyenVien" class="form-control" />
                <span asp-validation-for="TenChuyenVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChuyenMon" class="control-label"></label>
                <input asp-for="ChuyenMon" class="form-control" />
                <span asp-validation-for="ChuyenMon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KinhNghiem" class="control-label"></label>
                <input asp-for="KinhNghiem" class="form-control" />
                <span asp-validation-for="KinhNghiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaPhongBan" class="control-label"></label>
                <select asp-for="MaPhongBan" class ="form-control" asp-items="ViewBag.MaPhongBan"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
